body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    color: #222;
    background-color: #fcd797;
}

h2 {
    font-family: "Parkinsans", sans-serif;
    font-size: 50px;
}

h3{
    font-family: "Parkinsans", sans-serif;
    font-size: 18px;
}

p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}
a{
    font-family: "Raleway", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    background-color: #fc9300;
    color: #000000;
    z-index: 1000;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: large;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 15px;
}

.nav-links a:hover {
    color: #6636e9d3;
}

#hero {
    position: relative;
    height: 100vh;
    background: url("/Img/code.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    z-index: 1;
}

#hero.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#hero.content {
    position: relative; 
    z-index: 1;
}

#hero h1 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 3rem;
    font-weight: 700;
}

#hero p {
    font-size: 1.5rem;
    color: #000000;
}

.section {
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: auto;
}

.profile-pic {
    width: 180px;
    border-radius: 50%;
    margin-right: 2rem;
}

.about .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    text-align: center;
}

.skills-grid i {
    font-size: 80px;
    text-align: center;
}

.project-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.project-card {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.contact-links a {
    display: inline-block;
    margin: 0.5rem;
    text-decoration: none;
    color: #0d1b2a;
    font-weight: 500;
}

footer {
    font-family: "Raleway", sans-serif;
    background: #ff855c;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


